# Backend
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/.vs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
**/.env
**/.env.local

# OS
.DS_Store
Thumbs.db
/.vs
/backend/Project.API/appsettings.json
/tests/SchoolLink.Tests
/backend/Project.API/logs
/backend/Project.DAL/Migrations
docs/platform.md
/chat.txt
obj/Project.DAL.EntityFrameworkCore.targets
account-generation-plan-v3.md
grade-promotion-plan-v2.md
tailwind-flowbite-guidelines.md
/tests
pagination-pattern.md
planparentstudentimport.md
addingStudentToClass.md
newplan.md
planningchanges.md
backend/Project.DAL/Context/AppDbContextFactory.cs
backend/Project.DAL/Context/AppDbContextFactory.cs
/backend/Project.API/wwwroot/uploads/chat
planexamstudent.md
