# Backend
backend/**/bin/
backend/**/obj/
backend/**/*.user
backend/.vs/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
**/.env
**/.env.local

# OS
.DS_Store
Thumbs.db
/.vs
/backend/Project.API/appsettings.json
